<%= render :partial => "/layouts/header" %>
<%= render :partial => "/layouts/header_dashboard" %>

<!-- 아티스트 등록 페이지 -->
<div class="container">
<h2>아티스트 신청서</h2>
<%= form_tag 'create' do %>
  <div class="form-group">
    <label for="exampleInputEmail1">아티스트명</label>
    <input type="text" name="name"class="form-control" id="artistname" placeholder="아티스트명은 변경할 수 없습니다" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">장르</label>
    <input type="text" name="genre"class="form-control" id="artistgenre" placeholder="주로 하는 장르를 입력해주세요"required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">전화번호</label>
    <input type="text" name="phone_number"class="form-control" id="artistgenre" placeholder="전화번호를 입력해주세요"required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">주활동지역</label>
    <input type="text" name="area"class="form-control" id="artistgenre" placeholder="주로 플레이하는 지역이 어디인가요?" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">SNS</label>
    <input type="text" name="sns"class="form-control" id="artistgenre" placeholder="페이스북주소?">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">자기소개</label>
    <textarea class="form-control" rows="5" name="introduction"placeholder="할말"></textarea>
  </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="추가하기">
    </div>
<% end %>
</div>

<div class="footer text-center spacer" style="margin-bottom: 0px;">
  <p class="wowload flipInX">
    <a href="#"><i class="fa fa-facebook fa-2x"></i></a><a href="#"><i class="fa fa-instagram fa-2x"></i></a><a href="#"><i class="fa fa-twitter fa-2x"></i></a><a href="#"><i class="fa fa-flickr fa-2x"></i></a>
  </p>
  Copyright 2016 Guerillart. All rights reserved.
</div>
