<%= render :partial => "/layouts/header_dashboard" %>
<div class="container">
<img src="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" alt="wondergirls" class="img-circle" width="300" height="300">

</div>

<div class="footer text-center spacer" style="margin-bottom: 0px;>
  <p class="wowload flipInX">
    <a href="#"><i class="fa fa-facebook fa-2x"></i></a><a href="#"><i class="fa fa-instagram fa-2x"></i></a><a href="#"><i class="fa fa-twitter fa-2x"></i></a><a href="#"><i class="fa fa-flickr fa-2x"></i></a>
  </p>
  Copyright 2016 Guerillart. All rights reserved.
</div>
