
<div class="ui container">
    <div class="ui subshow menu">
      <div class="ui subshow container">

        <div class="ui button sub genre dropdown genre">
          <%= link_to "인기순", controller: "artists", action:"index", who_is: "인기순", class: "ui item"  %>
        </div>
        <div class="ui button sub show dropdown show">
           <%= link_to "나의아티스트", controller: "artists", action:"index", who_is: "나의아티스트", class: "ui item" %>
        </div>

      </div>
    </div>
</div>
