<%= render :partial => "/layouts/headers/header" %>

<%= javascript_include_tag('infobubble.js') %>	<!--infobubble 사용-->

<!-- google map 사용  &libraries=places-->
<script async defer
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCli_6xyZwvRN-G_8rguiJBm_3xzaq6NGI">
  </script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCli_6xyZwvRN-G_8rguiJBm_3xzaq6NGI" async="" defer="defer" type="text/javascript"></script> -->

<!--infobubble 사용-->
<!-- <script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobubble/src/infobubble.js"></script> -->
<!-- <script type="text/javascript" src="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/infobubble/src/infobubble.js"></script> -->

<!-- <script>
  	var script = '<script src="infobubble';
  	if (document.location.search.indexOf('compiled') !== -1) {
      script += '-compiled';
    	}
    	script += '.js"><' + '/script>';
    	document.write(script);
  </script> -->


<!-- <body onload="initialize(); setTimeout('updateMarkerBubbles()', 600);"> -->
<body onload="initialize()">

	<div class="ui segment" id="s_all">
		<!-- loader -->
		<div class="ui inverted dimmer">
			<div class="ui huge loader"></div>
		</div>

		<!-- google map -->
		<div id="s_left">
			<div id="wrapper">
				<div id="map_canvas"></div>
				<div id="over_info">
					<!--<div id="over_artist"></div>-->
				</div>
			</div>
			<!-- <div id="map_canvas"></div> -->

			<!-- <div id="control">
				<dl>
					<dt>
						<strong>[Control]</strong>
					</dt>
					<dd>
						<input type="button" value="거리순/인기순" onClick="switchOrder();">
					</dd>
					<dd>
						&nbsp;
					</dd>
					<dd>
						맵 주소 : <span id="txtAddress"></span>
					</dd>
					<dd>
						맵X좌표:&nbsp;&nbsp;&nbsp;
						<input type="text" id="centerX">
					</dd>
					<dd>
						맵Y좌표:&nbsp;&nbsp;&nbsp;
						<input type="text" id="centerY">
					</dd>

					<dd>
						<hr/>
					</dd>

					<dd>
						<input type="button" value="맵 중앙에 마크찍기" onClick="setMark();">
						<input type="button" value="마크삭제" onClick="removeMark();">
					</dd>
					<dd>
						<input type="button" value="마크좌표 보기" onClick="getMarkPos();">
						<br>
						<span style="margin-left: 80px;">마크X좌표:
							<input type="text" id="markerX">
						</span>
						<br>
						<span style="margin-left: 80px;">마크Y좌표:
							<input type="text" id="markerY">
						</span>
					</dd>
					<dd>
						<input type="button" value="정보창 마크 찍기 - 파인드올" onClick="setInfoMark();">
					</dd>
					<dd>
						<input type="button" value="지도 위의 마크 모두 삭제" onClick="clearMark();">
					</dd>

					<dd>
						<hr/>
					</dd>

					<dd>
						<input type="button" value="송파구청" onClick="setMapByCoord(37.5145937754918, 127.10662364959717);">
						좌표(x,y): 37.5145937754918, 127.10662364959717
					</dd>

					<dd>
						<hr/>
					</dd>

					<dd>
						<input type="text" id="address" value="검색할 주소를 입력하십시오." style="width:210px;" onClick="this.value='';">
						<input type="button" value="GeoCode" onClick="codeAddress()">
					</dd>

					<% if user_signed_in? %>
						<% if current_user.creations.find_by(status: 1).present? %>
							<dd><input type="button" value="공연종료" onClick="finishShow();"></dd>
						<% else %>
							<% @creations = current_user.creations.where(status: 0) %>
							<dd><input type="button" value="공연시작" onClick="setShowList('<%=@creations.to_json%>');"></dd>
						<% end %>

						<div id=showList></div>

					<% else %>
						<dt>
							<strong>[Not Signed In]</strong>
						</dt>
					<%end%>

					<dd><hr/></dd>
					<input id="autocomplete" type="text" size="50">

					</td>
			</div> -->
		</div>	<!-- s_left -->
		<!-- 공연 list -->
		<div id="s_right"></div>
	</div>	<!-- s_all -->
</body>
