<div class="ui basic modal nav" id="forgot">
  <i class="close icon"></i>
  <div class="header">비밀번호 찾기</div>
  <%= form_for(resource, :as => resource_name, :html => { method: :put, id: 'forgot_form'}, :url => password_path(resource_name), :remote => :true, :format => :json) do |f| %>
  <div class="ui form">
    <div class="field">
      <label>Email</label>
      <div class="ui left icon input">
      	<%= f.email_field :email, :autofocus => true, :placeholder => "이메일을 입력해주세요.", :id => 'forgot_email' %>
        <i class="user icon"></i>
      </div>
    </div>
  </div>
  <div class="go-sign">
    <%= f.submit "메일 전송", class: "fluid ui inverted red button"%>
  </div>
  <div class="footer" id="forgot_modal_footer"></div>
  <% end %>
</div>
