<div id="uni_body">
	<%#메인헤더 네비바를 랜더링%>
	<%= render :partial => "/layouts/headers/header" %>
	<div class="ui centered grid">
		<div class="ui container home">
			<form action="/search" method="GET">
				<h1 id="brand-text">Feel the arts</h1>
				<div class="ui massive icon input">
					<label for="location"></label>
					<input type="text" id="location" name="location" placeholder="위치를 입력하세요">
					<i class="inverted search icon"></i>
				</div>
			</form>
		</div>
	</div>
</div>
