<div id="home">
	<div id="myCarousel" class="carousel slide banner-slider animated bounceInDown" data-ride="carousel">


		<form action="/search" method="GET">
			<div class="carousel-caption">
				<div class="branding-text" style="margin-bottom:350px;">
					<h1>Guerillar Art</h1>
				</div>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="input-group" style="margin-bottom:200px;">
							<label class="sr-only" for="location"></label>
							<input type="text" class="form-control input-lg" id="location" name="location" placeholder="위치를 입력해주세요">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary">검색</button>
							</span>

						</div>
					</div>
				</form>
			</div>
		</form>

		<div class="carousel-inner">
			<div class="item active">
				<img src="/images/tower1.jpg" alt="자동차">
			</div>
		</div>


	</div>
</div>




