<div id="home">
	<div id="myCarousel" class="carousel slide banner-slider animated bounceInDown" data-ride="carousel">


		<form action="/search" method="GET">
			<div class="carousel-caption">
				<div class="branding-text" style="margin-bottom:350px;">
					<h1>Guerillar Art</h1>
				</div>
				<div class="input-group" style="margin-bottom:200px;">
					<label class="sr-only" for="location"></label>
					<div class="ui transparent massive input">
						<input type="text" id="location" style="color:white" name="location" placeholder="위치를 입력해주세요">
						<button type="submit" class="search icon">검색</button>
					</div>
				</div>
			</div>
		</form>

		<div class="carousel-inner">
			<div class="item active">
				<img src="/images/tower1.jpg" alt="자동차">
			</div>
		</div>


	</div>
</div>
