		<div id="upcomings"  class=" clearfix grid" style="margin-top:-70px">
      <% @cnt = 1 %>
      <% @shows.reverse.each do |show| %>
			<%
			if true
			%>
			<figure class="effect-oscar  wowload fadeInUp">
				<img src="images/portfolio/<%= @cnt %>.jpg" alt="img01"/>
				<figcaption>
          <h2><%= show.title %></h2>
          <p><%= show.location %>
              <%= show.time %><br>
          </p>
					<p>
						<a class="btn" data-toggle="modal" data-target="#upcomings-modal">More</a>
					</p>
				</figcaption>
			</figure>
      <%
			@cnt += 1
			end
			%>
      <% end %>
		</div>


