<!-- 공연 뷰에 맞는 render가 필요하다
-->
<div class="ui top compact fixed menu">
  <div class="ui container">
    <div class="ui simple item">실시간 공연</div>
    <div class="ui item"><b><%= @current_genre %></b></div>
    <div class="ui simple dropdown item">장르별<i class="dropdown icon"></i>
      <div class="menu">
        <div class="ui item">
          <%= link_to "모아보기", choose: "모아보기" %>
        </div>
        <% @names.each do |name| %>
          <div class="ui item show-genre-item"><%= link_to "#{name}", controller: "home", action: "shows", choose: "#{name}" %></div>
        <% end %>
      </div>
    </div>
    <div class="ui item">
      <div class="ui search">
        <div class="ui transparent input">
          <input class="prompt" type="text" placeholder="장르를 검색하세요">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "/layouts/show_genre", object: @current_genre %>
<script>
window.onload = function() {

  // 로컬 검색을 위한 기능, 하지만 구현이 안되었음
  var genre = document.getElementsByClassName('show-genre-item');
  var g = new Object(); //해쉬
  var content = []; //배열

  for(var i=0; i<genre.length; i++)
  {
  //  console.log(i + ':' + genre[i].innerText);
    g['title'] = genre[i].innerText;
    console.log(i + ' : ' + g['title']);
    content.push(g['title']);
  }

  $('.ui.search')
    .search({
      source: content
    })
  ;
}
</script>
