<footer id="footer">
  <div class="ui horizontal list">
    <div class="item 1">
      About Us
    </div>
    <div class="item 2">
      Copyright © 2016 Guerillart. All rights reserved.
    </div>
    <div class="item 3">
      Guerillart?
    </div>
  </div>
</footer>
