// index.html.erb
.artist-body {
  padding-bottom: 30px;
}

/* index 파일에서 가져옴 */
// .ui.subshow.menu {
//   margin-top: -15px;
//   background: #FAFAFA;
//   border-radius: 0;
//   border:none;
// }
// /* dropdown */
// .ui.button {
//   background: transparent;
// }
// .ui.sub.dropdown>.text {
//   font-weight: bold;
//   color: rgba(0, 0, 0, 0.8);
// }
// div.ui.button.sub.dropdown {
//   text-align: center;
// }
// /* 전체 가운데 정렬 */
// .ui.button.sub.dropdown.genre, .ui.button.sub.dropdown.show {
//   margin : 0 auto;
// }
// .ui.subshow.container {
//   width: 300px;
// }


.ui.artist.cards {
  margin: 0 auto;

  .card {
    margin: 10px auto !important;
  }
}

// new.html.erb



// page.html.erb
.panel-default {
  margin-top: 25px;
}
.comment-style {
 margin: 15px;
}
/* 댓글창 양옆띄우기 */
.ui.comments .comment:first-child {
 margin: 15px;
}
/* tabulr menu cursor*/
.ui.tabular.menu .item:hover {
 cursor: pointer;
}
/* ui tabular menu */
.ui.tabular.menu .active.item {
 border-top-width: initial;
}
.ui.tabular.menu {
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
/* 퐐로워 */
.artist-info-th {
  margin-top: -180px;
  margin-left: 356px;
}

/* 왼쪽 정보들 : 아티스트들의 정보 */
.profile.container {
 margin-top: 30px;
}
.artist-profile-info {
  color: #F5F5F5;
  width: 350px;
  margin-left: 100px;
  float:left;
}
/* 정중앙, 아티스트의 글쓰기와 포스트들 */
.post-by {
  max-width: 450px;
  margin-left: 480px;
  margin-top: -238px ;
}
/* 오른쪽 정보들 : 아티스트의 공연 */
.this-artist-shows {
  margin-top: 30px;
}

.ui.cards {
  margin: 0 auto;
}
/* 아티스트의  공연정보들 */
.ui.artists-show.special.cards {
  margin-left: 30px;
}



// edit.html.erb
/* 퐐로워 */
.artist-info-th {
  margin-top: -180px;
  margin-left: 356px;
}

/* 왼쪽 정보들 : 아티스트들의 정보 */
.artist-profile-info {
  color: #F5F5F5;
  width: 355px;
  margin-left: 100px;
  float:left;
}
/* 정중앙, 아티스트의 글쓰기와 포스트들 */
.post-by {
  max-width: 450px;
  margin-left: 480px;
  margin-top: 40px;
}
/* 오른쪽 정보들 : 아티스트의 공연 */
.this-artist-shows {
  margin-top: 30px;
}
