// guerillart.html.erb
// 메뉴
#guerillart-menu {
  width: 230px;

  .ui.vertical.menu.guerillart {
    margin-left: 40px;
    margin-top: 40px;
  }
}

// 메뉴클릭 시 나오는 아이템 뷰
#selecting-menu-item-view {
  margin-left: 50px;
  width: 70%;
}

// 렌더러가 가져온 show의 장르
#show-genres {
  padding-top: 20px;
  margin-left: 0px !important;
}



// profile.html.erb
.ui.profile.container {
  
  .column.user {
    width: 30% !important;
  }
}
