<style>
	/* 공연종료 */
	#showFinish-modal {
	  max-width: 450px;
	}
	/* 공연종료의 x 버튼 */
	.ui.basic.modal>.close {
	  padding-left: 20%;
	}
</style>

<!-- Start of showFinish modal -->
<div class="ui basic modal showFinish" id="showFinish-modal" value="">
  <i class="close icon"></i>
  <div class="header">공연종료</div>
  <form action="/shows/finish" method="put">
   	<div class="form-group">
      <input type="submit" class="fluid ui inverted green button" value="확인">
		</div>

  	<div class="footer" id="login_modal_footer"></div>
  </form>
</div>
