<!-- Start of showFinish modal -->
<div class="ui basic modal nav" id="showFinish" value="">
  <i class="close icon"></i>
  <div class="header">공연종료</div>
  <form action="/shows/finish" method="put">
   	<div class="form-group">
      <input type="submit" class="fluid ui inverted green button" value="확인">
		</div>

  	<div class="footer" id="login_modal_footer"></div>
  </form>
</div>
