<style>
	/* 공연종료 */
	#showStart-modal {
	  max-width: 450px;
	}
	/* 공연종료의 x 버튼 */
	.ui.basic.modal>.close {
	  padding-left: 20%;
	}
</style>

<!-- Start of showFinish modal -->
<div class="ui basic modal showStart" id="showStart-modal">
  <i class="close icon"></i>
  <div class="header">공연시작</div>
  <div class="field">
    <div>
      <label>이 위치가 맞으신가요?</label>
    </div>
    <div class="ui input">
      <input type="text" name="pos-input" value="hi">
    </div>
  </div>
  <form action="/shows/start" method="put">
   	<div class="form-group">
      <input type="submit" class="fluid ui inverted green button" value="확인">
		</div>

  	<div class="footer" id="start_modal_footer"></div>
  </form>
</div>
