
<style>
.ui.subshow.menu {
  margin-top: -15px;
  background: #FAFAFA;
  border-radius: 0;
  border:none;
}
/* dropdown */
.ui.button {
  background: transparent;
}
.ui.sub.dropdown>.text {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
div.ui.button.sub.dropdown {
  text-align: center;
}
/* 전체 가운데 정렬 */
.ui.button.sub.dropdown.genre, .ui.button.sub.dropdown.show {
  margin : 0 auto;
}
.ui.subshow.container {
  width: 300px;
}
</style>
<div class="ui subshow menu">
  <div class="ui subshow container">
     <a class="header item" href="/dashboard/home" method="get">대쉬보드</a>
     <a class="header item" href="/dashboard/guerillart" method="get">나의게릴라트</a>
     <a class="header item" href="/dashboard/profile" method="get">계정관리</a>
    <% if current_user.artist_name %>
      <% artist_name = current_user.artist_name %>
        <a class="header item" href="/dashboard/write" method="get">공연등록</a>
    <% else %>
        <a class="header item" href="/dashboard/create_artist" method="get">아티스트 신청서</a>
    <% end %>
  </div>
</div>

<script>
$('.show.dropdown')
  .dropdown();
;
$('.genre.dropdown')
  .dropdown();
;
</script>


