<div class="modal fade" id="upcomings-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img style="float:left;" src="http://www.iworldtoday.com/news/photo/201604/190562_64853_4133.jpg" alt="범준" class="img-circle" width="70px" height="70px"  class="img-responsive">
        <div style="margin-left:80px">
          <h4 class="modal-title">버스커버스커 첫 솔로 활동</h4>
          <p>
            by 장범준
          </p>
        </div>
      </div>
      <div class="modal-body">
        <img src="images/portfolio/1.jpg" class="img-responsive" alt="img01" width="400px"
        alian="left"/>
        <div style="float:right;">
          <p>
            공연정보
          </p>
          <span> 장소 : 마로니에 공원
            <br>
            시각 : 18:00, 7월 30일 2016년
            <br>
            장르 : Rock
            <br>
            <br>
            플레이리스트 :
            <br>
            1. 여수밤바다
            <br>
            2. You are my lady
            <br>
            3. You are my lady
            <br>
          </span>
        </div>
      </div>
      <div class="modal-footer" style="clear:both;">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true">
            <br>
            123</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-comment" aria-hidden="true">
            <br>
            123</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true">
            <br>
            222</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true">
            <br>
            332</span>
        </button>
      </div>
    </div>
  </div>
</div>
