<style>

</style>

<div class="modal fade" id="upcomings-modal-<%= @show.id %>">
  <div class="modal-lg modal-dialog" role="document">

    <div class="modal-content">


        <%= render template: "home/view/" %>

    </div>
  </div>
</div>
